Binaries
DerivedDataCache
Intermediate
Content/ParagonLtBelica
Content/ParagonMinions
Content/LootSet
Content/FootstepsMiniPack
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace